@import 'fonts.styl';
@import 'variables.styl';
@import 'mixins.styl';

.add-link-view {
    form {
        display: table;
        fieldset > div {
            display: table-row;
            & > * {
                display: table-cell;
            }
        }
    }

    label {
        text-align: right;
        padding-right: 5px;
        padding-top: 6px;
    }

    input, textarea, ul.tagit {
        border: 1px solid black;
        padding: 5px;
        margin: 4px;
        width: 230px;
    }

    textarea {
        resize: none;
        height: 100px;
    }






/*


    .image-upload {
        margin: 4px 4px 4px 0;
        padding: 0 5px;
    }

    .file-container {

    }

    .form {
        .list ul {
            display: table;
            margin: 0;
            padding: 0;
            li {
                display: table-row;
                .remove-button, .editor-container {
                    display: table-cell;
                }
            }
        }
    }

    .remove-button, .add-button, .store-button {
        width: auto;
        padding: 3px 4px 3px 4px;
        color: white;
        outline: none;
        border-style: solid;
        border-width: 1px;
        font-weight: bold;
        margin: 3px;
        &:active {
            padding: 4px 3px 2px 5px;
        }
    }

    .remove-button {
        margin-top: 0;
        margin-bottom: 0;
        background-color: #dd3c10;
        border-color: #660000;
        &:active {
            background-color: #660000;
        }
    }
    .add-button {
        background-color: #3b5998;
        border-color: #000066;
        &:active {
            background-color: #000066;
        }
    }
    .store-button {
        background-color: #589d39;
        border-color: #006600;
        &:active {
            background-color: #006600;
        }
    }
    */
}