@import 'fonts.styl';
@import 'variables.styl';
@import 'mixins.styl';

$bulletWidth = 290px;
$bulletHeight = 260px;
$bulletPadding = 15px;
$bulletMargin = 15px;
$bulletsPadding = 15px;
$smallScreenDivider = 1.5;
//$facebookColor = #445EA0;

.login-view {
    background-color: $blue;
    min-height: 100%;
    .bullets-wrapper {
        text-align: center;
    }
    .bullets {
        margin: 0px auto;
        text-align: left;

        PrimaryFont();
        font-size: 35px;
        color: $white;
        padding: $bulletsPadding;
        .bullet-wrapper {
            float: left;
        }
        .bullet {
            border-radius: $borderRadius;
            padding: $bulletPadding;
            margin: $bulletMargin;
            width: $bulletWidth;
            height: $bulletHeight;
            background-color: $lightBlue;
            text-align: center;
            cursor: pointer;
            transition: all 200ms ease-in-out 0s;
            &:hover {
                background-color: $orange;
                color: $darkBlue;
                box-shadow: 0px 0 20px 0px $darkBlue
            }
        }
    }
    .navbar {
        background-color: $brown;
        padding: 20px;

        .linkit-logo {
            float: left;
            background-image: url('/assets/images/logo.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 60px; //70px
            width: 179px; //208px
            margin: 10px; //5px
        }
        .facebook-login {
            float: right;
            SecondaryFont();
            border: none;
            position: relative;
            color: $white;
            background-color: $darkBlue;
            border-radius: $borderRadius;
            font-size: 30px;
            padding: 20px 13px 13px;
            border: solid 2px $darkBlue;
            .facebook-logo {
                font-weight: bolder;
                font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
                font-size: 35px;
            }
            &, &:before {
                transition: all 200ms ease-in-out 0s;
            }
            &:before {
                content: '';
                position: absolute;
                width: 56px;
                height: 40px;
                top: 0;
                left: 0;
                background-image: url('/assets/images/free.png');
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 0 0 37px;
                animation-fill-mode: both;
                animation-name: free-swing;
                transform-origin: 33px 33px;
                animation-timing-function: ease-in;
                animation-iteration-count: infinite;
                animation-delay: 3s
                animation-duration: 4.5s;
            }
            &:hover, &.highlight {
                background-color: $darkOrange;
                border-color: $darkOrange;
                padding: 20px 18px 13px 8px;
                box-shadow: 0px 0 20px 0px $darkOrange;
                &:before {
                    margin: 0 5px 0 32px;
                    background-image: url('/assets/images/free-hover.png');
                }
            }
            /*&.highlight {
                animation-name: login-blink;
                animation-timing-function: ease-in;
                animation-duration: 1.5s;

            }*/
        }
    }
}

@media all and (max-width: 700px) {
    .login-view {
        .bullets {
            font-size: 25px;
            padding: ($bulletsPadding / $smallScreenDivider);
            .bullet {
                margin: ($bulletMargin / $smallScreenDivider);
                padding: ($bulletPadding / $smallScreenDivider);
                width: ($bulletWidth / $smallScreenDivider);
                height: (260px / $smallScreenDivider);
            }
        }
        .navbar {
            .linkit-logo {
                height: 40px;
                width: 119px;
                margin: 5px;
            }
            .facebook-login {
                font-size: 20px;
                padding: 3px 9px 9px;
                .facebook-logo {
                    font-size: 28px;
                }
                &:before {
                    width: 28px;
                    height: 20px;
                    transform-origin: 16.5px 16.5px;
                    margin: 0 0 0 30px;
                }
                &:hover {
                    padding: 3px 12px 9px 6px;
                    &:before {
                        margin: 0 3px 0 27px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 500px) {
    .login-view {
        .navbar {
            text-align: center;
            .linkit-logo {
                float: none;
                width: 100%;
                background-position: center center;
                margin-bottom: 10px;
            }
            .facebook-login {
                margin-top: 10px;
                float: none;
            }
        }
    }
}

@keyframes free-swing {
    0% { transform: rotate(0deg); }
    5.55% { transform: rotate(-20deg); }
    22.21% { transform: rotate(40deg); }
    33.33% { transform: rotate(0deg); }
    50% { transform: rotate(0deg); } // Delay between swings
}

@keyframes login-blink {
    0% { background-color: $darkBlue; border-color: $darkBlue; }
    12.5% { background-color: $darkOrange; border-color: $darkOrange; }
    37.5% { background-color: $darkBlue; border-color: $darkBlue; }
    62.5% { background-color: $darkOrange; border-color: $darkOrange; }
    87.5% { background-color: $darkBlue; border-color: $darkBlue; }
}