<div class="navbar clearfix">
    <div class="linkit-logo"></div>
    <button class="facebook-login">
        Join Now With <span class="facebook-logo">facebook</span>
    </button>
</div>
<div class="bullets-wrapper">
    <div class="bullets clearfix">
        <div class="bullet-wrapper">
            <div class="bullet">
                <div class="title">Track clicks on your links</div>
            </div>
        </div>
        <div class="bullet-wrapper">
            <div class="bullet">
                <div class="title">Find the best place to share your pages</div>
            </div>
        </div>
        <div class="bullet-wrapper">
            <div class="bullet">
                <div class="title">Customize link Appearance for facebook</div>
            </div>
        </div>
        <div class="bullet-wrapper">
            <div class="bullet">
                <div class="title">Get short url for twitter</div>
            </div>
        </div>
    </div>
</div>