/* Colors */
$brown = #B8693D;
$blue = #609CA7;
$lightBlue = #71B9C6;
$darkBlue = #276671;
$white = #FFFFFF;
$orange = #E7A783;
$darkOrange = #DF8F62;

$veryBigFontSize = 30px;
$bigFontSize = 25px
$mediumFontSize = 20px;
$smallFontSize = 15px;
$verySmallFontSize = 10px;