<h1>Create link</h1>

<form>
    <fieldset>
        <div>
            <label>Title:</label>
            <input type="text" name="title" />
        </div>
        <div>
            <label>Website Name:</label>
            <input type="text" name="site-name" />
        </div>
        <div>
            <label>URL:</label>
            <input type="text" name="url" />
        </div>
        <div>
            <label>Description:</label>
            <textarea name="description"></textarea>
        </div>
        <div>
            <label>Image:</label>
            <div class="file-container"></div>
        </div>
        <div>
            <label>Tags:</label>
            <input type="text" class="tags" />
        </div>
    </fieldset>
</form>


<button class="store-button">Store</button>